<div>
<mat-toolbar color="primary" style="background-color: #F29F05; padding: 4px;">
    <mat-toolbar-row>
      <span style="color: #ffff;">PetSHOP</span>
      <span class="example-spacer"></span>
    </mat-toolbar-row>
</mat-toolbar>
  </div>

    <app-infos></app-infos>