<button class="sair" routerLink="/">SAIR</button>
<div class="container" >

    <div class="content">      
      <!--FORMULÁRIO DE LOGIN-->
      <div id="login">
        <form method="post" action=""> 
          <h1>Marcação de serviço</h1> 
          <p> 
            <label for="cpf">Seu cpf</label>
            <input id="cpf" name="cpf" required="required" type="text" />
          </p>
          
          <p> 
            <label for="nomePet">Nome do pet</label>
            <input id="nomePet" name="nomePet" required="required" type="text"/> 
          </p>

          <select name="Serviço">
            <option value="valor1">selecione um serviço</option>
            <option value="valor2">Banho</option>
            <option value="valor3">Tosa</option>
            <option value="valor3">Banhp e tosa</option>
            <option value="valor3">Consulta veterinária</option>
          </select>
          
          <p> 
            <label for="data">Data</label>
            <input id="data" name="data" required="required" type="date"/> 
          </p>

          <p> 
            <label for="hora">Horário</label>
            <input id="hora" name="hora" required="required" type="time"/> 
          </p>
          <p> 
            <label for="hora">Número para contato</label>
            <input id="hora" name="hora" required="required" type="text"/> 
          </p>
          <p> 
            <input type="submit" value="Marcar" (click)="marcar()" /> 
          </p>
        </form>
      </div>
    </div>
  </div>