<div class="container" >
    
    <div class="content">      
      <!--FORMULÁRIO DE LOGIN-->
      <div id="login">
        <form method="post" action=""> 
          <h1>Login</h1> 
          <p> 
            <label for="email">Seu e-mail</label>
            <input id="email" name="email" required="required" type="text" placeholder="contato@htmlecsspro.com"/>
          </p>
          
          <p> 
            <label for="senha">Sua senha</label>
            <input id="senha" name="senha" required="required" type="password" placeholder="1234" /> 
          </p>
          <p> 
            <input type="submit" value="Logar" routerLink="/marcacao" /> 
          </p>

          <a routerLink="/cadastro">Cadastro aqui!</a>
        </form>
      </div>
    </div>
  </div>