<h1 mat-dialog-title>Hi</h1>
  <p>Confirma marcação</p>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button routerLink="/login">Ok</button>
</div>
