.mat-tab-group {
    margin-bottom: 100px;
  }

  .example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

.titulo {
    
   font-size: 50px;
   color: #F29F05;
   display: flex;
   justify-content: center;
   align-items: center;
  }

  #texto {

    
   font-size: 15px;
   color: #F29F05;
   display: flex;
   justify-content: center;
   align-items: center;
  }
  
.col-md-4 {
    position: relative;
    width: 300px;
    height: 500px;
    color: #F29F05;
   border: 1px #F29F05 solid;
   border-radius: 5px;
   display: flex;
  
  }
  .flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .flex-container > div{
    margin: 25px;
  }
  
  .servicos {
  
   font-size: 20px;
   color: #F29F05;
   display: flex;
   justify-content: center;
   align-items: center;
  }
  .card-img-top{
   position: relative;
   left: 5px;
   top: 6px;
  }
  
  .card-body{
    margin: 6px;
  }
  
  .card-text {
  
    color: #F29F05;
  }
  .card-text1{
    font-size: 30px;
    text-align: center;

  }

  
