
<mat-tab-group mat-align-tabs="center">
    <mat-tab label="Home">

        <h1 class="titulo">ShowPet</h1>
                  <p id="texto">
                    Olá, você esta na página de serviço de marcação de serviços que são disponibilizados na Petshow.
                  </p>
          
  <div class="informacoes">
    <p class="servicos">Alguns dos nossos serviços:</p>
      <div class="flex-container">
          <div class="col-md-4">
              <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="https://blog.colombo.com.br/wp-content/uploads/2021/10/capa-810x567.jpg" width="250px" height="200px">
              <div class="card-body" >
                  <p class="card-text">O banho em pet shop é dado por um profissional treinado, não apenas para realizar o procedimento, mas também para identificar qualquer anormalidade.</p> 
                  <p class="card-text1">R$ XX,XX</p> 
                  <div class="d-flex justify-content-between align-items-center">
              </div>
          </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="https://blog.colombo.com.br/wp-content/uploads/2021/10/capa-810x567.jpg" width="250px" height="200px">
              <div class="card-body">
                  <p class="card-text">A tosa, basicamente, consiste em cortar o pelo do cãozinho e além de ser um cuidado estético, também é fundamental para garantir o bem-estar do pet, ajudando a, por exemplo, evitar que o animal sofra com calor nos períodos de altas temperaturas ou que fique mais exposto ao aparecimento de pulgas e carrapatos</p>
                  <p class="card-text1">R$ XX,XX</p> 
                  <div class="d-flex justify-content-between align-items-center">
              </div>
          </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="https://blog.colombo.com.br/wp-content/uploads/2021/10/capa-810x567.jpg" width="250px" height="200px">
              <div class="card-body">
                  <p class="card-text">Em uma consulta, o profissional vai avaliar clínica e fisicamente o seu pet. Ele será capaz de analisar alterações de comportamento, lesões, problemas visíveis, e, ainda, apalpar determinadas regiões e usar instrumentos, como o termômetro, para verificar a saúde do anima</p>
                  <p class="card-text1">R$ XX,XX</p> 
                  <div class="d-flex justify-content-between align-items-center">
              </div>
          </div>
              </div>
          </div>
      </div>
    </div>      
    </mat-tab>
    <mat-tab label="Login">
       <app-login></app-login>
        </mat-tab>
  </mat-tab-group>
